<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lessson_vue</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="./css/style.css">

  <div id="app">
    <div v-for="good in sortedMyList"
    v-bind:class="{ backcolor() }">
      <h2>{{good.title}}</h2>
     <span>Цена: {{good.price}}</span> 
     <!-- узнать почему если count тоже span то перенос строки не происходит -->
     <p  v-if="good.price">Количество: {{good.count}}</p>
     <button
     @click="good.count -= 1">
     Добавить в корзину
     </button>
    </div>
    <div>
    </div>
  </div>

  <script src="./js/main.js"></script>
</body>
</html>